body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #ccc;
  background-color: #000;
}

.container {
  width: auto;
  max-width: 768px;
}